extends layout

//- Use mixin instead of duplicating code
mixin section-card(title, description, url, icon)
  .col-xs-12.col-sm-6.col-md-4
    .card
      .card-header
        h3.text-center= title
      .card-content
        .text-center.mb4
          img.card__icon(src=cdn + "/img/icons/" + icon, alt=title + " icon")
        p= description
        .text-center
          a.btn.btn-warning(href=url) View

block content
  section.hero.pt7.pb6
    .container
      .row
        .hero__box
          .hero__image.text-left.hidden-xs.col-sm-6.col-md-5
            img(src=cdn + "/img/rocket.svg" alt="rocket flying out of the monitor")
          .hero__text.col-xs-12.col-sm-6.col-md-7
            h1.text-center DeployStack
            p.hero__lead Tired of comparing hosting plans, calculating the file storage cost or paying for the SSL certificates?
            p.hero__lead DeployStack is a list of the best, hand picked tools and services that you might need when launching a website.
  main.bg-blue
    .container
      .row
        //- content is setup in home.js controller
        each section in content
          //- Hack to center the last item (if we have more sections, this can be probably removed)
          if section.name !== 'Cloud computing'
            +section-card(section.name, section.description, section.url, section.icon)
          else
            .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
              .card
                .card-header
                  h3.text-center= section.name
                .card-content
                  .text-center.mb4
                    img.card__icon(src=cdn + "/img/icons/" + section.icon, alt=section.name + " icon")
                  p= section.description
                  .text-center
                    a.btn.btn-warning(href=section.url) View