extends layout

//- Use mixin instead of duplicating code
mixin section-card(section)
    .card
      .card-header
        h3.text-center= section.name
      .card-content
        .text-center.mb4
          img(src=cdn + "/img/icons/" + section.icon, alt=section.name + " icon", class=section.background + ' circle card__icon')
        p= section.description
        .text-center
          a.btn.btn-warning(href=section.url) View

block content
  section.hero.pt7.pb6
    .container
      .row
        .hero__box
          .hero__image.text-left.hidden-xs.col-sm-6.col-md-5
            img(src=cdn + "/img/rocket.svg" alt="rocket flying out of the monitor")
          .hero__text.col-xs-12.col-sm-6.col-md-7
            h1.text-center DeployStack
            p.hero__description Tired of comparing hosting plans, calculating the file storage cost or paying for the SSL certificates?
            p.hero__description DeployStack is a list of the best, hand picked tools and services that you might need when launching a website.
  main.bg-blue
    .container
      .row
        //- content is setup in home.js controller
        each section in content
          if section.name !== 'Cloud computing'
            .col-xs-12.col-sm-6.col-md-4
              +section-card(section)
          else
            //- Hack to center the last item on some screen sizes
            //- (if we have more sections, this has to be changed)
            .col-xs-12.col-sm-6.col-md-4.col-md-offset-2
              +section-card(section)
        //- Newsletter card
        .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-0
          .card
            .card-header.mb6
              h3.text-center= "Newsletter"
            .card-content
              p.newsletter-text DeployStack will get new tools and the existing information will be updated. Join the newsletter and get informed about any major updates (no spam!).
              include includes/signup
