- var cdn = env.CDN ? env.CDN : ''
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description' content='Curated list of best tools for launching your website. Find how to get the best hosting, cheapest domain, free CDN, errors tracking, emails and more.')
    //- Facebook Open Graph metadata
    meta(property='og:url' content='https://deploystack.io/')
    meta(property='og:type' content='website')
    meta(property='og:title' content='deploystack.io')
    meta(property='og:description' content='Curated list of best tools for launching your website. Find how to get the best hosting, cheapest domain, free CDN, errors tracking, emails and more.')
    meta(property='og:image' content=cdn + "/img/fb_og_img.png")
    //- Twitter Card metadata
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@SebaWitowski')
    meta(name='twitter:creator' content='@SebaWitowski')
    meta(name='twitter:title' content='deploystack.io')
    meta(name='twitter:description' content='Curated list of best tools for launching your website. Find how to get the best hosting, cheapest domain, free CDN, errors tracking, emails and more.')
    meta(name='twitter:image' content=cdn + "/img/twitter_card_img.png")
    title= title
    //- Favicon
    link(rel="apple-touch-icon" href=cdn + "/apple-touch-icon.png")
    //- Fonts and icons
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic%7CMaterial+Icons')
    //- CSS
    link(rel='stylesheet', href=cdn + "/css/bootstrap.min.css")
    link(rel='stylesheet', href=cdn + "/css/material-kit.min.css")
    link(rel='stylesheet', href=cdn + "/css/main.css?v=1.0.2")
  body
    include includes/header
    block content
    include includes/footer

    //- JS
    script(src=cdn + "/js/main.min.js")
    //- Analytics tools
    //- HACK: Exclude traffic from localhost to segment by removing the segment_id if we are not on a production PORT
    - var segment_id = env.PORT ? "P4rvy61r68j0m1yclxWEMX1k0Hq5q8mV" : ''
    if segment_id != ''
      script.
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
        analytics.load("P4rvy61r68j0m1yclxWEMX1k0Hq5q8mV");
        analytics.page();
        }}();
