- var cdn = "https://1872969813.rsc.cdn77.org"
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description' content='Curated list of best tools for launching your website. Find how to get the best hosting, cheapest domain, files storage, monitoring and more.')
    //- Facebook Open Graph metadata
    meta(property='og:url' content='https://deploystack.io/')
    meta(property='og:type' content='website')
    meta(property='og:title' content='deploystack.io')
    meta(property='og:description' content='Curated list of best tools for launching your website. Find how to get the best hosting, cheapest domain, files storage, monitoring and more.')
    meta(property='og:image' content=cdn + "/img/fb_og_img.png")
    //- Twitter Card metadata
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@SebaWitowski')
    meta(name='twitter:creator' content='@SebaWitowski')
    meta(name='twitter:title' content='deploystack.io')
    meta(name='twitter:description' content='Curated list of best tools for launching your website. Find how to get the best hosting, cheapest domain, files storage, monitoring and more.')
    meta(name='twitter:image' content=cdn + "/img/twitter_card_img.png")
    title= title
    //- Favicon
    link(rel="apple-touch-icon" href=cdn + "/apple-touch-icon.png")
    //- Fonts and icons
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic%7CMaterial+Icons')
    //- CSS
    link(rel='stylesheet', href=cdn + "/css/bootstrap.min.css")
    link(rel='stylesheet', href=cdn + "/css/material-kit.min.css")
    link(rel='stylesheet', href=cdn + "/css/main.css?v=1.0.2")
  body
    include includes/header
    block content
    include includes/footer

    //- JS
    script(src=cdn + "/js/main.min.js")
    //- Analytics tools
    script(async, src='https://www.google-analytics.com/analytics.js')
    script(async, src='//dmc1acwvwny3.cloudfront.net/atatus.js')
    script(async src=cdn + "/js/stats.js")
